# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
web-build/
coverage/
*.tsbuildinfo
.turbo/

# Expo
.expo/
expo-env.d.ts
.metro-health-check*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.pem
.kotlin/
# Generated native folders (Continuous Native Generation)
apps/mobile/ios/
apps/mobile/android/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sw?

# Local env files
.env.local
.env.*.local
*.local
